@{
    ViewData["Title"] = "Book Store";
}

@model BooksViewModel  

@*This button will allow a user to view their cart without having to add something to it each time*@

@*<div class="container">
    <div class="row">
        <a class="btn btn-primary" asp-page="/Purchase">View Cart</a>
    </div>
</div>*@

@foreach (Book b in Model.Books)
{
    <partial name="BookInfoSummary" model="b"/>
}

@*Set up place for info from page info model to be passed in and displayed*@
@*Extra divs are for formatting the page navigations*@

<div class="container">
    <div class="row">
        <div class="col text-center">
            <div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true" 
                 page-class="btn" page-class-normal="btn-outline-dark" 
                 page-class-selected="btn-primary" class="btn-group pull-right m-1">
            </div>
        </div>    
    </div>
</div>