@page
@model BookStore.Pages.PurchaseCompletedModel
@{
}

@*A page to be sent to when a purchase is complete*@

<div class="text-center">
    <h2>Thank you, your items will be sent shortly.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>